@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-size: 16px;
    @apply z-0 m-0 p-0 font-sans;
  }

  img.--rectangle {
    width: auto;
    height: 100%;
    object-fit: cover;
  }

  a {
    @apply hover:underline underline-offset-4 cursor-pointer;
  }

  .--page {
    @apply flex flex-col w-screen h-screen;
  }

  /* for disable nextra preflight styles */
  a:focus-visible,
  summary:focus-visible,
  button:focus-visible,
  input:focus-visible,
  [tabindex]:not([tabindex='-1']):focus-visible {
    box-shadow: none !important;
  }
  a[class*='nx-']:focus-visible,
  summary[class*='nx-']:focus-visible,
  button[class*='nx-']:focus-visible,
  input[class*='nx-']:focus-visible,
  [tabindex][class*='nx-']:not([tabindex='-1']):focus-visible {
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 transparent) !important;
  }
}

@layer components {
  .--img-container-square {
    @apply flex justify-center items-center overflow-hidden aspect-square;
  }
}

@layer utilities {
}
