.has-border {
  @apply border;
  --tw-border-opacity: 1;
  border-color: rgba(var(--sira-colors-bw-500), var(--tw-border-opacity));
}

.has-ring {
  @apply ring;
  --tw-ring-offset-color: transparent;
  --tw-ring-opacity: 0.75;
  --tw-ring-color: rgba(var(--sira-color-600), var(--tw-ring-opacity));
}
