/* Base Button */
.btn {
  @apply cursor-pointer select-none outline-none active:scale-[0.97];
  @apply inline-flex gap-2 items-center justify-center text-center h-fit w-fit;
  --tw-ring-opacity: 0;
  --tw-ring-offset-color: transparent;
  --tw-ring-color: rgba(var(--sira-color-600), var(--tw-ring-opacity));
  @apply hover:ring focus:ring ease-in-out duration-300;
  transition-property: all;
}
.btn:where(:hover, :focus) {
  --tw-ring-opacity: 0.5;
}

.btn.solid {
  @apply border-none;
  --tw-bg-opacity: 1;
  background-color: rgba(var(--sira-color-800), var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--sira-color-800-contrast), var(--tw-text-opacity));
}

/* Outline */
.btn.outline {
  @apply bg-transparent;
  border-color: rgb(var(--sira-color-800));
  --tw-text-opacity: 1;
  color: rgba(var(--sira-color-800), var(--tw-text-opacity));
}

.btn.outline:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--sira-color-800), var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--sira-color-800-contrast), var(--tw-text-opacity));
}

/* Ghost */
.btn.ghost {
  --tw-text-opacity: 1;
  color: rgba(var(--sira-color-1000), var(--tw-text-opacity));
  @apply border-none bg-transparent;
}

.btn.ghost:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--sira-color-800), var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--sira-color-800-contrast), var(--tw-text-opacity));
}

/* light */
.btn.light {
  --tw-ring-color: rgba(var(--sira-color-200), var(--tw-ring-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--sira-color-200), var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--sira-color-900), var(--tw-text-opacity));
  @apply border-none;
}

.btn.light:hover {
  background-color: rgba(var(--sira-color-300), var(--tw-bg-opacity));
  color: rgba(var(--sira-color-1000), var(--tw-text-opacity));
}

/* Button Sizes */
.btn.xs {
  @apply rounded-[0.45rem] p-2 text-[0.5rem] leading-[0.5rem] font-normal;
}

.btn.sm {
  @apply rounded-lg py-[0.52rem] px-3 text-xs font-medium;
}

.btn,
.btn.md {
  @apply rounded-xl py-[0.65rem] px-4 text-sm font-semibold;
}

.btn.lg {
  @apply rounded-xl py-[0.75rem] px-[1.3rem] text-lg font-semibold;
}

.btn.xl {
  @apply rounded-2xl py-[0.9rem] px-6 text-2xl;
}

/* special padding because outline variant border occupy some space */
.btn.outline.xs {
  @apply p-[calc(0.5rem-2px)];
}

.btn.outline.sm {
  @apply py-[calc(0.52rem-2px)] px-[calc(0.75rem-2px)];
}

.btn.outline,
.btn.outline.md {
  @apply py-[calc(0.65rem-2px)] px-[calc(1rem-2px)];
}

.btn.outline.lg {
  @apply py-[calc(0.75rem-2px)] px-[calc(1.3rem-2px)];
}

.btn.outline.xl {
  @apply py-[calc(0.9rem-2px)] px-[calc(1.5rem-2px)];
}

.btn:disabled {
  @apply pointer-events-none cursor-not-allowed opacity-50;
}

.btn.pill {
  @apply rounded-3xl;
}

.btn.is-loading::before {
  content: '';
  border-color: currentColor currentColor transparent transparent;
}

.btn.is-loading {
  @apply pointer-events-none cursor-wait select-none;
  @apply before:mr-2 before:box-border;
  @apply before:animate-spin before:rounded-[50%] before:border-[3px];
}
.btn.is-loading.xs {
  @apply before:h-[0.6rem] before:w-[0.6rem] before:border-[2px];
}
.btn.is-loading.sm {
  @apply before:h-3 before:w-3 before:border-[2px];
}
.btn.is-loading,
.btn.is-loading.md {
  @apply before:h-4 before:w-4;
}
.btn.is-loading.lg {
  @apply before:h-5 before:w-5;
}
.btn.is-loading.xl {
  @apply before:h-6 before:w-6 before:border-[4px];
}

.btn.compact.xs {
  @apply p-[0.4rem];
}
.btn.compact.sm {
  @apply p-2;
}
.btn.compact,
.btn.compact.md {
  @apply p-3;
}
.btn.compact.lg {
  @apply p-4;
}
.btn.compact.xl {
  @apply p-5;
}

.btn.outline.xs {
  @apply border;
}
.btn.outline.sm {
  @apply border;
}
.btn.outline,
.btn.outline.md {
  @apply border-2;
}
.btn.outline.lg {
  @apply border-2;
}
.btn.outline.xl {
  @apply border-[3px];
}
