/* Base Button */
.btn {
  @apply rounded-xl cursor-pointer select-none outline-none active:scale-[0.97];
  @apply inline-flex items-center justify-center text-center;
  --tw-ring-opacity: 0;
  --tw-ring-offset-color: transparent;
  --tw-ring-color: rgba(var(--sira-color-600), var(--tw-ring-opacity));
  @apply hover:ring focus:ring ease-in-out duration-300;
  transition-property: all;
}
.btn:where(:hover, :focus) {
  --tw-ring-opacity: 0.5;
}

.btn.solid {
  @apply border-none;
  --tw-bg-opacity: 1;
  background-color: rgba(var(--sira-color-800), var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--sira-color-800-contrast), var(--tw-text-opacity));
}

/* Outline */
.btn.outline {
  @apply border-2 bg-transparent;
  border-color: rgb(var(--sira-color-800));
  --tw-text-opacity: 1;
  color: rgba(var(--sira-color-800), var(--tw-text-opacity));
}

.btn.outline:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--sira-color-800), var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--sira-color-800-contrast), var(--tw-text-opacity));
}

/* Ghost */
.btn.ghost {
  --tw-text-opacity: 1;
  color: rgba(var(--sira-color-1000), var(--tw-text-opacity));
  @apply border-none bg-transparent;
}

.btn.ghost:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--sira-color-800), var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--sira-color-800-contrast), var(--tw-text-opacity));
}

/* light */
.btn.light {
  --tw-ring-color: rgba(var(--sira-color-200), var(--tw-ring-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--sira-color-200), var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--sira-color-900), var(--tw-text-opacity));
  @apply border-none;
}

.btn.light:hover {
  background-color: rgba(var(--sira-color-300), var(--tw-bg-opacity));
  color: rgba(var(--sira-color-1000), var(--tw-text-opacity));
}

/* Button Sizes */
.btn.xs {
  @apply h-[1.5rem] min-h-[1.5rem] rounded-[7px] px-2 text-[0.5rem] leading-[0.5rem] font-normal;
}

.btn.sm {
  @apply h-[2rem] min-h-[2rem] rounded-lg px-3 text-xs font-medium;
}

.btn,
.btn.md {
  @apply h-10 min-h-[2.5rem] px-5 text-sm font-semibold;
}

.btn.lg {
  @apply h-[3rem] min-h-[3rem] px-6 text-lg font-semibold;
}

.btn.xl {
  @apply h-[4rem] min-h-[4rem] rounded-2xl px-8 text-2xl;
}

.btn:disabled {
  @apply pointer-events-none cursor-not-allowed opacity-50;
}

.btn.pill {
  @apply rounded-3xl;
}

.btn.is-loading::before {
  content: '';
  border-color: currentColor currentColor transparent transparent;
}

.btn.is-loading {
  @apply pointer-events-none cursor-wait select-none;
  @apply before:mr-2 before:box-border before:h-4 before:w-4 before:animate-spin before:rounded-[50%] before:border-[3px];
}
