.divider {
  --tw-text-opacity: 0.7
  color: rgba(var(--sira-color-800), var(--tw-text-opacity));
  @apply flex flex-nowrap items-center whitespace-nowrap;
}

/* gap if content filled */
.divider:not(:empty) {
  @apply gap-4;
}

.divider,
.divider.horizontal {
  @apply mx-0 my-2 w-full h-fit min-h-[1rem] flex-row;
}
.divider.vertical {
  @apply my-0 mx-2 h-full w-fit min-w-[1rem] flex-col;
}

.divider::before,
.divider::after {
  content: '';
  --tw-bg-opacity: 1;
  background-color: rgba(var(--sira-color-500), var(--tw-bg-opacity));
  flex-grow: 0;
  flex-shrink: 1;
}

.divider::before,
.divider::after,
.divider.horizontal::before,
.divider.horizontal::after {
  @apply h-px w-full;
}

.divider.vertical::before,
.divider.vertical::after {
  @apply w-px h-full;
}
