.dropdown {
  @apply relative inline-block w-max;
}

.dropdown > .menu {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--sira-color-50), var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--sira-color-1000), var(--tw-text-opacity));
  @apply absolute z-[49] flex w-fit overflow-hidden;
  @apply scale-95 transform flex-col gap-0.5 rounded-xl p-1 border outline-none transition-all;
  --tw-border-opacity: 0.6;
  border-color: rgba(var(--sira-color-600), var(--tw-border-opacity));
}

.dropdown > .menu > .item {
  @apply w-full cursor-pointer rounded-lg py-2 px-3 transition-colors whitespace-nowrap;
  @apply flex items-center gap-2;
}

.dropdown > .menu > .item:where(.active, :hover) {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--sira-color-300), var(--tw-bg-opacity));
}

.dropdown > .menu > .subtitle {
  @apply w-full py-1 px-3 text-xs font-normal;
  --tw-text-opacity: 1;
  color: rgba(var(--sira-color-900), var(--tw-text-opacity));
}

.dropdown > .menu > .is-divider {
  @apply relative my-2;
}

.dropdown > .menu > .is-divider::before {
  --tw-bg-opacity: 0.7;
  background-color: rgba(var(--sira-color-500), var(--tw-bg-opacity));
  @apply absolute top-0 right-0 h-px w-full scale-x-125 bg-opacity-70 content-[""];
}

.dropdown:not(.hover-effect:hover, .open, :focus, :focus-within) > .menu {
  @apply invisible opacity-0;
}

.dropdown > .menu.bottom {
  @apply left-1/2 -translate-y-1 mt-2 -translate-x-1/2;
}

.dropdown > .menu.bottom-left {
  @apply right-0 mt-2 -translate-y-1;
}

.dropdown > .menu.bottom-right {
  @apply left-0 mt-2 -translate-y-1;
}

.dropdown > .menu.top {
  @apply left-1/2 -translate-x-1/2 bottom-full mb-2 translate-y-1;
}

.dropdown > .menu.top-left {
  @apply right-0 bottom-full mb-2 translate-y-1;
}

.dropdown > .menu.top-right {
  @apply left-0 bottom-full mb-2 translate-y-1;
}

.dropdown > .menu.left {
  @apply top-1/2 -translate-x-1 -translate-y-1/2 right-full;
}

.dropdown > .menu.left-top {
  @apply right-full bottom-0 -translate-x-1;
}

.dropdown > .menu.left-bottom {
  @apply right-full -translate-x-1 -translate-y-1/2;
}

.dropdown > .menu.right {
  @apply top-1/2 translate-x-1 -translate-y-1/2 left-full;
}

.dropdown > .menu.right-top {
  @apply left-full bottom-0 translate-x-1;
}

.dropdown > .menu.right-bottom {
  @apply left-full translate-x-1 -translate-y-1/2;
}

.dropdown:where(.hover-effect:hover, .open, :focus, :focus-within) > .menu {
  @apply visible transform scale-100 opacity-100;
}
