.input {
  --tw-ring-opacity: 0;
  --tw-ring-offset-color: transparent;
  --tw-ring-color: rgba(var(--sira-color-200), var(--tw-ring-opacity));

  --tw-text-opacity: 0.9;
  color: rgba(var(--sira-color-1100), var(--tw-text-opacity));

  --tw-border-opacity: 0.9;
  border-color: rgba(var(--sira-colors-bw-300), var(--tw-border-opacity));

  @apply h-fit w-full rounded-xl py-2.5 px-3 outline-none;
  @apply border hover:ring focus:ring;
  @apply bg-transparent transition-all;
}

.input::selection,
.input *::selection {
  --tw-bg-opacity: 0.8;
  background-color: rgba(var(--sira-color-200), var(--tw-bg-opacity));
}

.input:where(:hover, :focus) {
  --tw-ring-opacity: 0.5;
  border-color: rgba(var(--sira-color-500), var(--tw-border-opacity));
}

/* outline */
.input.outline {
  border-color: rgba(var(--sira-color-400), var(--tw-border-opacity));
}

/* solid */
.input.solid {
  --tw-bg-opacity: 0.85;
  background-color: rgba(var(--sira-color-400), var(--tw-bg-opacity));
}

.input.solid:not(:hover, :focus) {
  --tw-border-opacity: 0;
  border-color: transparent;
}

/* Size */
.input.xs {
  @apply h-8 text-xs;
}

.input.sm {
  @apply h-10 text-sm;
}

.input.md {
  @apply h-12 text-base;
}

.input.lg {
  @apply h-14 text-lg;
}

.input.xl {
  @apply h-16 text-xl;
}

/* Extra */
.input::placeholder {
  --tw-text-opacity: 0.5;
  color: rgba(var(--sira-color-900), var(--tw-text-opacity));
  @apply font-normal;
}

.input.pill {
  @apply rounded-full px-4;
}

.input:disabled {
  @apply pointer-events-none select-none opacity-50;
}
