.input {
  --tw-ring-opacity: 0;
  --tw-ring-offset-color: transparent;
  --tw-ring-color: rgba(var(--sira-color-500), var(--tw-ring-opacity));

  --tw-text-opacity: 0.95;
  color: rgba(var(--sira-color-1100), var(--tw-text-opacity));

  --tw-border-opacity: 1;
  border-color: rgba(var(--sira-colors-bw-600), var(--tw-border-opacity));

  @apply w-full h-fit rounded-xl px-3;
  @apply border hover:ring focus:ring;
  @apply bg-transparent transition-all;
  @apply appearance-none outline-none flex items-center gap-2;
}

.input > input {
  @apply flex-1;
  @apply appearance-none outline-none border-none bg-transparent p-0 m-0;
}

/* for slot color */
.input > :not(input) {
  color: rgba(var(--sira-color-800), var(--tw-text-opacity));
}

.input > .is-divider {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--sira-color-500), var(--tw-bg-opacity));
  @apply self-stretch w-px;
}

.input::selection,
.input *::selection {
  --tw-bg-opacity: 0.8;
  background-color: rgba(var(--sira-color-300), var(--tw-bg-opacity));
}

.input:where(:hover, :focus) {
  --tw-ring-opacity: 0.4;
  border-color: rgba(var(--sira-color-600), var(--tw-border-opacity));
}

/* outline */
.input.outline {
  border-color: rgba(var(--sira-color-700), var(--tw-border-opacity));
}

/* solid */
.input.solid {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--sira-color-100), var(--tw-bg-opacity));
  border-color: rgba(var(--sira-color-600), var(--tw-border-opacity));
}
.input.solid::selection,
.input.solid *::selection {
  --tw-bg-opacity: 0.9;
  background-color: rgba(var(--sira-color-600), var(--tw-bg-opacity));
}

.input.solid:not(:hover, :focus) {
  --tw-border-opacity: 0.3;
}

/* Size */
.input.xs {
  @apply text-xs py-0.5;
}

.input.sm {
  @apply text-sm py-1;
}

.input,
.input.md {
  @apply text-base py-1.5;
}

.input.lg {
  @apply text-lg py-2;
}

.input.xl {
  @apply text-xl py-2.5;
}

/* Extra */
.input::placeholder,
.input *::placeholder {
  --tw-text-opacity: 0.6;
  color: rgba(var(--sira-color-700), var(--tw-text-opacity));
  @apply font-normal;
}

.input.pill {
  @apply rounded-full px-4;
}

.input:disabled,
.input *:disabled {
  @apply pointer-events-none select-none opacity-50;
}
