.link {
  transition-property: opacity, background-color, underline, text-decoration-line;
  /* default color must be here for preventing style override */
  --sira-color-400: var(--sira-colors-bw-400);
  @apply cursor-pointer duration-300 underline-offset-2;
}

.link:hover {
  opacity: 0.7;
  @apply underline;
}

.link:not(:hover) {
  --tw-text-opacity: 1;
  @apply no-underline;
}

.link.ghost {
  @apply rounded-sm py-[0.05rem] px-0.5;
}

.link.ghost:hover {
  --tw-bg-opacity: 0.75;
  background-color: rgba(var(--sira-color-400), var(--tw-bg-opacity));
}
