.link {
  transition-property: color, background-color, transform, underline, text-decoration-line;
  @apply inline-flex cursor-pointer items-center text-base duration-300 underline-offset-2;
  --sira-color-300: var(--sira-colors-bw-300);
  --sira-color-700: var(--sira-colors-bw-700);
  color: rgba(var(--sira-color-700), var(--tw-text-opacity));
}

.link:hover {
  --tw-text-opacity: 0.65;
  @apply underline;
}

.link:not(:hover) {
  --tw-text-opacity: 1;
  @apply no-underline;
}

.link.ghost {
  @apply rounded-sm py-[0.05rem] px-0.5;
}

.link.ghost:hover {
  --tw-bg-opacity: 0.25;
  background-color: rgba(var(--sira-color-300), var(--tw-bg-opacity));
}
