.progress {
  @apply relative w-full appearance-none overflow-hidden rounded-full;

  --tw-opacity: 1;
  accent-color: rgba(var(--sira-color-800), var(--tw-opacity));

  -webkit-appearance: none;
}

.progress,
.progress::-webkit-progress-bar {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--sira-colors-bw-200), var(--tw-bg-opacity));
}

.progress.colored,
.progress.colored::-webkit-progress-bar {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--sira-color-200), var(--tw-bg-opacity));
}

.progress::-moz-progress-bar {
  --tw-bg-opacity: 1;
  --tw-opacity: 1;
  background: rgba(var(--sira-color-800), var(--tw-bg-opacity));
  color: rgba(var(--sira-color-800), var(--tw-opacity));
}
/* ! spearate moz & webkit with same styles for unknown render problem */
.progress::-webkit-progress-value {
  --tw-bg-opacity: 1;
  --tw-opacity: 1;
  background: rgba(var(--sira-color-800), var(--tw-bg-opacity));
  color: rgba(var(--sira-color-800), var(--tw-opacity));
}

.progress::-webkit-progress-bar,
.progress::-moz-progress-bar,
.progress::-webkit-progress-value {
  @apply rounded-full;
}

.progress.xs {
  @apply h-1;
}

.progress.sm {
  @apply h-2;
}

.progress,
.progress.md {
  @apply h-3;
}

.progress.lg {
  @apply h-4;
}

.progress.xl {
  @apply h-5;
}

.progress:indeterminate::after,
.progress.indeterminate::after {
  animation: sira-progress-bar-indeterminate 0.9s infinite;
  @apply absolute bottom-0 top-0 w-1/3 rounded-full content-[""];

  --tw-bg-opacity: 1;
  background: rgba(var(--sira-color-800), var(--tw-bg-opacity));
}
