.prompt {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--sira-color-200), var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--sira-color-900), var(--tw-text-opacity));
  @apply w-full rounded-xl border border-transparent outline-none transition-colors;
  @apply grid gap-2;
}

.prompt:has(.icon):has(.title):has(.content) {
  grid-template-areas:
    'icon title'
    'icon content';
}
.prompt:has(.icon):has(.title):not(:has(.content)) {
  grid-template-areas: 'icon title';
}
.prompt:has(.icon):not(:has(.title)):has(.content) {
  grid-template-areas: 'icon content';
}
.prompt:not(:has(.icon)):has(.title):has(.content) {
  grid-template-areas: 'title' 'content';
}
.prompt:not(:has(.icon)):not(:has(.title)):has(.content) {
  grid-template-areas: 'content';
}

.prompt.outline {
  --tw-border-opacity: 1;
  border-color: rgba(var(--sira-color-400), var(--tw-border-opacity));
  @apply bg-transparent;
}

.prompt.ghost {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--sira-color-100), var(--tw-bg-opacity));
}

.prompt.ghost:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--sira-color-200), var(--tw-bg-opacity));
  --tw-border-opacity: 1;
  border-color: rgba(var(--sira-color-400), var(--tw-border-opacity));
}

.prompt.square {
  @apply !rounded-sm;
}

.prompt > .icon {
  --tw-text-opacity: 1;
  color: rgba(var(--sira-color-700), var(--tw-text-opacity));
  fill: rgb(var(--sira-color-700));
  grid-area: icon;
  order: 1;
}

.prompt > .title {
  grid-area: title;
  @apply text-lg font-bold order-2;
}

.prompt > .content {
  grid-area: content;
  @apply font-medium order-3;
}

/* sizes */
.prompt.xs {
  @apply p-1 rounded-md text-xs;
}
.prompt.xs > .title {
  @apply text-sm;
}

.prompt.sm {
  @apply p-2 rounded-lg text-sm;
}
.prompt.sm > .title {
  @apply text-base;
}

.prompt,
.prompt.md {
  @apply p-3 rounded-xl text-base;
}
.prompt.md > .title {
  @apply text-lg;
}

.prompt.lg {
  @apply p-4 rounded-xl text-lg;
}
.prompt.lg > .title {
  @apply text-xl;
}

.prompt.xl {
  @apply p-5 rounded-xl text-xl;
}
.prompt.lg > .title {
  @apply text-2xl;
}
