.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg class='select-icon' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' style='fill: %237E868C;transform: ;msFilter:;'%3E%3Cpath d='M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z'%3E%3C/path%3E%3C/svg%3E");
  background-position: right 0.5rem center;
  background-size: 1.5em 1.5em;

  --tw-border-opacity: 1;
  border-color: rgba(var(--sira-color-500), var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--sira-color-50), var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--sira-color-1000), var(--tw-text-opacity));
  accent-color: rgb(var(--sira-color-500));

  @apply transition-colors outline-none h-fit w-full max-w-xs py-2 px-3 rounded-xl bg-no-repeat border-2;
}

/* Ghost */
.select.ghost {
  background-color: rgba(var(--sira-color-50), 0.3);
  --tw-border-opacity: 1;
  border-color: rgba(var(--sira-colors-bw-700), var(--tw-border-opacity));
}

.select.ghost:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--sira-color-50), var(--tw-bg-opacity));
  border-color: rgb(var(--sira-color-500));
}

.select.ghost:focus {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--sira-color-50), var(--tw-bg-opacity));
  border-color: rgb(var(--sira-color-600));
}

/* Size */
.select.xs {
  @apply h-8 py-1 text-xs;
}

.select.sm {
  @apply h-10 py-1 text-sm;
}

.select,
.select.md {
  @apply h-12 text-base;
}

.select.lg {
  @apply h-14 text-lg;
}

.select.xl {
  @apply h-16 text-xl;
}

/* others */
.select::placeholder {
  color: rgba(var(--sira-color-900), 0.7);
}

.select.pill {
  @apply rounded-full px-4;
}

.select:disabled {
  @apply pointer-events-none select-none opacity-50;
}
