.switch {
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: 0.4s;
  --tw-border-opacity: 1;
  border-color: rgba(var(--sira-colors-bw-500), var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--sira-colors-bw-100), var(--tw-bg-opacity));
  @apply relative inline-block border rounded-full;
  @apply cursor-pointer appearance-none outline-none;
}

.switch.square,
.switch.square::after {
  @apply rounded;
}

.switch:checked {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--sira-color-500), var(--tw-bg-opacity));
  border-color: rgb(var(--sira-color-500));
}

.switch:disabled {
  --tw-border-opacity: 1;
  border-color: rgba(var(--sira-colors-bw-600), var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--sira-colors-bw-600), var(--tw-bg-opacity));
  @apply cursor-not-allowed opacity-50;
}
.switch:disabled + label {
  @apply cursor-not-allowed;
}

.switch:not(:checked):not(:disabled):not(.bordered, .ghost):hover {
  --tw-border-opacity: 1;
  border-color: rgba(var(--sira-colors-bw-600), var(--tw-border-opacity));
}

/* check btn */
.switch::after {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--sira-colors-bw-500), var(--tw-bg-opacity));
  @apply leading-none absolute rounded-full;
  top: var(--sira-switch-padding);
  height: calc(100% - calc(var(--sira-switch-padding) * 2));
  width: calc(calc(100% - calc(var(--sira-switch-padding) * 2)) / 2);
  transition: 0.4s;
  content: '';
  /* for custom text content */
  @apply flex justify-center items-center text-sm overflow-hidden;
}

.switch[data-content]::after {
  content: attr(data-content);
}

.switch:checked::after,
.switch:disabled:checked:after {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--sira-colors-bw-50), var(--tw-bg-opacity));
}

.switch:disabled::after {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--sira-colors-bw-300), var(--tw-bg-opacity));
}

.switch:not(:checked):after {
  left: var(--sira-switch-padding);
}

.switch:checked:after {
  left: calc(100% - var(--sira-switch-padding));
  transform: translateX(-100%);
}

.switch:disabled:not(:checked):after {
  opacity: 0.6;
}

/* bordered */
.switch.bordered {
  --tw-border-opacity: 1;
  border-color: rgba(var(--sira-color-500), var(--tw-border-opacity));
}

/* Ghost */
.switch.ghost:not(:checked):not(:disabled) {
  @apply bg-transparent;
}

.switch.ghost:not(:checked):not(:disabled):hover {
  border-color: rgb(var(--sira-color-500));
}

/* Sizes */
.switch.xs {
  --sira-switch-padding: 0.06rem;
  @apply h-4 w-7;
}

.switch.sm {
  --sira-switch-padding: 0.12rem;
  height: 1.3rem;
  width: 2.2rem;
}

.switch,
.switch.md {
  --sira-switch-padding: 0.15rem;
  height: 1.6rem;
  width: 2.8rem;
}

.switch.lg {
  --sira-switch-padding: 0.21rem;
  width: 3.35rem;
  height: 1.9rem;
}

.switch.xl {
  --sira-switch-padding: 0.25rem;
  height: 2.3rem;
  width: 4rem;
}
