.table {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--sira-color-50), var(--tw-bg-opacity));
  border-collapse: initial;
  @apply w-full rounded-xl overflow-hidden;
}

.table.bordered {
  @apply border-spacing-0 border-2;
  border-color: rgb(var(--sira-color-600));
}

.table > thead {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--sira-color-200), var(--tw-bg-opacity));
}

.table > thead > tr > th {
  --tw-text-opacity: 1;
  color: rgba(var(--sira-color-1100), var(--tw-text-opacity));
  @apply whitespace-nowrap py-4 px-2.5 text-start text-sm font-semibold;
}

.table > thead > tr > th:first-child {
  @apply rounded-tl-xl;
}
.table > thead > tr > th:last-child {
  @apply rounded-tr-xl;
}

.table > tbody > tr:hover {
  background-color: rgba(var(--sira-color-200), 0.5);
}

.table > tbody > tr:not(:last-child) > :where(td, th) {
  border-color: rgba(var(--sira-color-600), 0.6);
  @apply border-b;
}

.table > tbody > tr > :where(td, th) {
  --tw-text-opacity: 1;
  color: rgba(var(--sira-color-1000), var(--tw-text-opacity));
  @apply whitespace-nowrap py-4 px-2.5 text-start text-sm;
}

/* Compact */
.table.compact > tbody > tr > td,
.table.compact > tbody > tr > th {
  @apply px-2 py-2.5;
}

.table.compact > thead > tr > th {
  @apply py-2.5;
}

/* Zebra */
.table.zebra > tbody > tr:nth-child(even):not(:hover) {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--sira-color-100), var(--tw-bg-opacity));
}
