.mesh {
    position: fixed;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -63%);
    width: 72vw;
    height: 64vh;
    border-radius: 50% 22% 40% 80%;
    filter: blur(90px);
    opacity: 0.25;
    background-image:
            radial-gradient(circle at 40% 20%, hsla(28,100%,74%,1) 0px, transparent 50%),
            radial-gradient(circle at 80% 0%, hsla(189,100%,56%,1) 0px, transparent 50%),
            radial-gradient(circle at 0% 50%, hsla(355,100%,93%,1) 0px, transparent 50%),
            radial-gradient(circle at 13% 21%, hsla(340,100%,76%,1) 0px, transparent 50%),
            radial-gradient(circle at 0% 100%, hsla(22,100%,77%,1) 0px, transparent 50%),
            radial-gradient(circle at 80% 100%, hsla(242,100%,70%,1) 0px, transparent 50%),
            radial-gradient(circle at 0% 0%, hsla(343,100%,76%,1) 0px, transparent 50%);
}