@keyframes bg-mesh-animation {
  0%,
  100% {
    transform: translate(-50%, -60%);
  }
  50% {
    transform: translate(-60%, -50%);
  }
}

.mesh {
  will-change: transform;
  position: fixed;
  transform: translate(-50%, -60%);
  z-index: 0;
  top: 50%;
  left: 50%;
  width: 72vw;
  height: 64vh;
  border-radius: 50% 22% 40% 80%;
  filter: blur(90px);
  opacity: 0.25;
  animation: bg-mesh-animation 10s linear infinite;
  background-image: radial-gradient(circle at 40% 20%, hsla(28, 100%, 74%, 1) 0px, transparent 50%),
    radial-gradient(circle at 80% 0%, hsla(189, 100%, 56%, 1) 0px, transparent 50%),
    radial-gradient(circle at 0% 50%, hsla(355, 100%, 93%, 1) 0px, transparent 50%),
    radial-gradient(circle at 80% 100%, hsla(242, 100%, 70%, 1) 0px, transparent 50%),
    radial-gradient(circle at 0% 0%, hsla(343, 100%, 76%, 1) 0px, transparent 50%);
}
